@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-bold-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-bold-webfont.woff") format("woff"),
    url("../fonts/merriweather-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Regular.woff") format("woff"),
    url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}