@font-face {
  font-family: "Merriweather";
  src: url("https://www.fws.gov/refuges/fonts/merriweather-bold-webfont.woff2") format("woff2"),
    url("https://www.fws.gov/refuges/fonts/merriweather-bold-webfont.woff") format("woff"),
    url("https://www.fws.gov/refuges/fonts/merriweather-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("https://www.fws.gov/refuges/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("https://www.fws.gov/refuges/fonts/SourceSansPro-Regular.woff") format("woff"),
    url("https://www.fws.gov/refuges/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}