.title-bar {
  display: flex;
  align-items: center;

  img {
    width: 65px;
  }
}

.search-panel {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  left: 13px;
  max-width: 350px !important;
  max-height: 95vh;
  overflow: auto;
  padding: .5rem;
  position: fixed;
  top: 13px;
  z-index: 1000;

  h3 {
    margin-top: 2.5rem;
  }

  h2,
  h3,
  .refuge-address,
  .hunt-unit-name,
  .centered,
  .regulation-details {
    text-align: center;
  }

  .refuge-address,
  .hunt-unit-name {
    font-weight: bold;
  }
}

.hunt-unit-info {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

  li:first-child {
    text-align: left;
    justify-self: flex-start;
    flex-basis: 80%;
  }

  li {
    flex: 1 1 10%;

    a,
    button {
      display: block;
      width: 100%;
    }
  }
}

.search-results-content.closed {
  max-height: 10px;
  padding: 0;
}

.huntable-species-list {
  margin-top: 0;
  margin-bottom: 1.5rem;

  li {
    display: list-item !important;
  }
}

.toggle-results {
  background: $blue;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: -.5rem;
  color: white;
  display: block;
  left: -.5rem;
  margin: -2rem;
  position: sticky;
  width: calc(100% + 1rem);

  &[aria-hidden="true"] {
    display: none;
  }
}

.facility-icon {
  height: 25px;
  width: 25px;
}

.hidden-button {
  background: none;
  border: none;
  padding: 0;
}

.search-results-content {
  overflow: hidden;
  margin: 0 0 2rem 0;
  padding: 0;
  transition: all .3s;

  &:empty {
    margin-bottom: 0;
  }

  .facility-info {
    width: 100%;
  }

  .facility-name {
    color: $blue !important;
    font-weight: bold;
    margin-bottom: 0;
  }

  .facility-location {
    align-self: flex-end;
    font-style: italic;
    margin-top: .5rem;
  }

  .facility-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    li:first-child {
      margin-right: auto;
    }

    button {
      background: transparent;
      border: none;
      height: 25px;
      padding: 0;
      vertical-align: top;
      width: 25px;

      img {
        margin: 0;
        padding: 0;
      }
    }

    img {
      width: 25px;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    padding: .1rem;

    &:hover {
      background-color: #ccc;
    }

    .orange-marker {
      align-self: center;
      height: 35px;
      padding-right: 1rem;
      width: 35px;
    }
  }

  &.scroll::after {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
    bottom: 24px;
    content: "";
    height: 4em;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}

.radio-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0;
  width: 100%;

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

input[type="search"] {
  width: calc(100% - 60px);
}

.radio-option {
  border-radius: 5px;
  display: flex;
  flex: 1 1 50%;

  label {
    cursor: pointer;
    display: block;
    flex: 1 1 50%;
    text-align: center;
  }
}

.form-group {
  text-align: center;

  &[aria-hidden=true] {
    display: none;
  }

  input,
  select {
    margin-left: 3px;
  }
}

input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
  overflow: none;
}

input[type="radio"]:active ~ label {
  opacity: 1;
  padding: .5rem;
}

input[type="radio"]:checked ~ label {
  background: $blue;
  color: white;
  opacity: 1;
  padding: .5rem 1rem;
}

input[type="radio"]:not(:checked) ~ label {
  background: #e5e5e5;
  opacity: 1;
  padding: .5rem 1rem;
}

.page-title {
  color: $blue;
  margin: .25rem;
  text-align: center;
}

.message {
  font-style: italic;
  text-align: center;

  &:empty {
    display: none;
  }
}

.search-results {
  padding: 0;
}

.search-results-length {
  color: $blue;
  font-style: italic;
  margin: .5rem 0;
  text-align: center;
}

.search-results-content {
  overflow: hidden;
  padding: .5rem;
}

.search-results-content:empty {
  padding: 0;
}

.veteran-zoom-to {
  display: block;
  margin: .25rem auto;
}

.website-icon,
.zoom-icon {
  height: 25px;
  width: 25px;
}

.zoom-to-hunt-unit {
  background: none;
  border: none;
  padding: 0;

  img,
  svg {
    height: 25px;
    width: 25px;
  }
}