@import 'normalize';
@import 'fonts';

$blue: #0f4c81;
$orange: #f0af3b;
$gray: #848484;
$serif: Merriweather, Georgia, Verdana, serif;
$sans-serif: "Source Sans Pro", sans-serif;

html {
  box-sizing: border-box;
  font-family: $sans-serif;
}

h1 {
  font-family: $serif;
}

@import 'leaflet';
@import 'map';
@import 'search-panel';
@import 'base';
@import 'loading';